<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml+png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Automobili Lamborghini - Web Official | Lamborghini.com</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Lambo-icons';
		src: url('/Lambo-icons.ttf');
	}
</style>
